.footer-container {
    margin: 20px auto;
    width: 1150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    

}
.footer-container .logo {
    width: 190px;
    margin: 0px auto;
}
.footer-container .items{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.item {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color :black;
    
}